$cellSize: 20px;

.board {
    display: flex;

    .cell {
        display: inline;
        width: $cellSize;
        height: $cellSize;
        margin: 2px;
        text-align: center;
        &:hover{
            cursor: pointer;
        }

        &--hit {
            background-color: orangered;
        }

        &--miss {
            background-color: aqua;
        }

        &--unknown {
            background-color: lightgray;
        }
    }
}