<script data-cfasync="false" type="text/javascript" src="//clearonclick.com/a/display.php?r=6988634"></script>
<div class="flexbox-container">
  <div class="panel">
    <button (click)="callNewGame()">New game</button>
    <div id="battle-board">
      <app-board />
    </div>
    <div>
      <app-answer />
    </div>
  </div>
  <div class="panel">
    <app-history />
  </div>
  <div class="panel">
    <script data-cfasync="false" type="text/javascript" src="//clearonclick.com/a/display.php?r=6988638"></script>
  </div>
</div>